html { height: 100%; }
body { min-height: 100%; }

html
{
  font-size: 1em;
}

body {
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

.main-content {
  	font-family: 'IBM', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  	font-weight: 300;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.content {
	padding-bottom: 40px;
	min-height: calc(100vh - 140px);
}

body.hpd-body { background-color: #F1F2F2; }
body.hpd-body.pageDetail { background-color: white; }

/** Override bootstrap tab menu styling */

li.uib-tab { cursor: pointer; }

.nav-tabs > li.uib-tab > div,
.nav-tabs > li.uib-tab > div:focus,
.nav-tabs > li.uib-tab > div:hover {
	color: #555;
	border: none;
	background: none;
}

.nav-tabs > li.uib-tab > div:hover {
	border-bottom: 3px solid #C1C1C1;
}

.nav-tabs > li.uib-tab.active > div,
.nav-tabs > li.uib-tab.active > div:focus,
.nav-tabs > li.uib-tab.active > div:hover {
	border: none;
	border-bottom: 3px solid #004071;
}

span.ibm-glyphicon {
	cursor: pointer;
}