table.hpd-simple-table {
    font-size: 90%;
}

table.hpd-simple-table-full-size {
    font-size: 100%;
    font-family: 'Helvetica Light', 'Helvetica';
}

table.hpd-simple-table-full-size thead {
    font-size: 90%;
}

table.hpd-simple-table-full-size > thead > tr > th {
    border-bottom: none;
    x-padding-top: 2%;
}

table.hpd-simple-table-full-size tbody {
    font-size: 150%;
}

table.hpd-simple-table-full-size > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding-top: 2%;
}

table.hpd-simple-table-full-size > tbody > tr:first-child > td {
    padding-top: 2%;
}

table.hpd-simple-table .hpd-right,
table.hpd-simple-table-full-size  .hpd-right
{
    text-align: right;
}

table.hpd-simple-table .hpd-left,
table.hpd-simple-table-full-size  .hpd-left{
    text-align: left;
}

table.hpd-simple-table .hpd-padding{
    padding-left: 2rem;
}

table.hpd-simple-table .hpd-bold{
    font-weight: bold;
}

table.hpd-previous-card-table-full-size {
    font-size: 100%;
    font-family: 'Helvetica Light', 'Helvetica';
}

table.hpd-previous-card-table-full-size tbody {
    font-size: 150%;
}

table.hpd-previous-card-table-full-size > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding-top: 2%;
    vertical-align: bottom !important;
}

table.hpd-previous-card-table-full-size > tbody > tr:first-child > td {
    padding-top: 2%;
    padding: 1px;
}

table.hpd-previous-card-table .hpd-right,
table.hpd-previous-card-table-full-size  .hpd-right,
table.hpd-pipe-overview-preview-card-table-full-size .hpd-right
{
    text-align: right;
}

table.hpd-keydeals-card-table-full-size {
    font-size: 100%;
    font-family: 'Helvetica Light', 'Helvetica';
}

table.hpd-keydeals-card-table-full-size tbody {
    font-size: 150%;
}

table.hpd-keydeals-card-table-full-size > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding-top: 1%;
    vertical-align: bottom !important;
}

table.hpd-keydeals-card-table-full-size > tbody > tr:first-child > td {
    padding-top: 2%;
    padding: 1px;
}

table.hpd-keydeals-card-table .hpd-right,
table.hpd-keydeals-card-table-full-size  .hpd-right
{
    text-align: right;
}

table.hpd-pipe-overview-preview-card-table-full-size {
    font-size: 100%;
    font-family: 'Helvetica Light', 'Helvetica';
}

table.hpd-pipe-overview-preview-card-table-full-size tbody {
    font-size: 150%;
}

table.hpd-pipe-overview-preview-card-table-full-size > thead > tr > td,
table.hpd-pipe-overview-preview-card-table-full-size > thead > tr > th {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding-top: 7%;
    vertical-align: bottom !important;
}

table.hpd-cardsource-table-full-size {
    font-size: 100%;
    font-family: 'Helvetica Light', 'Helvetica';
    border-collapse: initial;
    padding-top: 1rem;
}

table.hpd-cardsource-table-full-size thead {
    font-weight: bold;
}

table.hpd-cardsource-table-full-size  > tbody> tr:nth-child(odd){
	background-color: #F9F9FB !important;
}

table.hpd-cardsource-table-full-size > tbody > tr > td {
    border: none;
    padding-top: 1%;
    vertical-align: bottom !important;
}

table.hpd-cardsource-table-full-size > tbody > tr:first-child > td {
    padding-top: 2%;
}

.source-title{
	-webkit-align-content: center;
    align-content: center;
    color: white;
    margin-bottom: 1rem !important;
    padding: 1rem;
    text-align: center;
   	background-color: #5AAAFA;
	color: white;
}

.modal-header{
	border-bottom: 0 !important;
}

.modal-header-top {
	border-bottom: 0 !important;
	padding: 0 !important;
}

.modal-header-margin-adj {
	margin: -20px -20px 0 -20px;
}

.modal-footer{
	border-top: 0 !important;
}

.attdet-container .modal-header .ibm-glyphicon{
	top: 5px;
}

.kd-prev-table {
  width: 100%;
  margin-top: 8px;
}

.kd-prev-table > tbody > tr {
  height: 38px;
  line-height: 38px;
  font-family: IBM-Roman;
  font-size: 13px;
}

.kd-prev-table > thead > tr {
  background-color: #C0E6FF;
}

.kd-prev-table > tbody > tr:nth-child(even) {
  background-color:#f0f2f3;
}

.kd-prev-table > tbody > tr:nth-child(odd) {
  background-color:#fbfcfc;
}

.kd-truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
