<div class="ng-scope" id="subheader">
  <div id="scrollmenu" class="scrollmenu">
    <ul>
      <li id="menu-items" class="carousel-left">
        <a class="hpd-header-menu ng-scope " href="/manager"> <span class="hpd-header-menu-sel-item ng-binding">Managerial Team</span></a>
      </li>
      <li id="menu-items" class="carousel-left">
        <a class="hpd-header-menu ng-scope selected" href="/data"> <span class="hpd-header-menu-sel-item ng-binding">Data Team</span></a>
      </li>
      <li id="menu-items" class="carousel-left">
        <a class="hpd-header-menu ng-scope " href="/dev"> <span class="hpd-header-menu-sel-item ng-binding">MF Dev Team</span></a>
      </li>
    </ul>
  </div>
</div>

<hpd-ot-lock></hpd-ot-lock>
<div id="carousel-items" style="display:none;" class="settings-header">
  <div class="menu-nav-items pull-right">
    <span id="menu-left" class="carousel-preview-arrow carousel-preview-arrow-right ibm-glyphicon ibm-chevron-right-bold-link menu-nav-right" onclick="carousel_menu_change()"></span>
    <span id="menu-right" style="display:none;" class="carousel-preview-arrow carousel-preview-arrow-right ibm-glyphicon ibm-chevron-right-bold-link menu-nav-left" onclick="carousel_menu_change()"></span>
  </div>
</div>

<br>

<div class="content ng-scope" data-ui-view="">

  <div style="" class="hpd-tile-grid-container">
    <div class="message ng-binding ng-hide" >

    </div>

    <div class="row">
      <div class="col-md-6">
        <div style="-moz-user-select: none;" class="hpd-tile hpd-tile-box card ng-scope">
          <div class="hpd-tile-display">
            <div class="hpd-tile-holder">
              <div class="hpd-tile-title ng-binding"><span class="hpd-tile-number ng-binding">1 </span> Denis</div>
            </div>

            <div class="hpd-tile-content">
              <div class="ng-scope"><div signings-deep-dive-preview="">
                <div class="card-subtle greychart ng-binding">Manager</div>
                <span class="row>">
                  <span class="col-sm-9 paddingRemover15">Foto</span>
                  <span class="col-sm-3">Bla bla bla</span>
                </span>
              </div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div style="-moz-user-select: none;" class="hpd-tile hpd-tile-box card ng-scope">
          <div class="hpd-tile-display">
            <div class="hpd-tile-holder">
              <div class="hpd-tile-title ng-binding"><span class="hpd-tile-number ng-binding">2 </span> Leandro</div>
            </div>
            <div class="hpd-tile-content">
              <div class="ng-scope"><div signings-deep-dive-preview="">
                <div class="card-subtle greychart ng-binding">Scrum Master</div>
                <span class="row>">
                  <span class="col-sm-9 paddingRemover15">Foto</span>
                  <span class="col-sm-3">Bla bla bla</span>
                </span>
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div style="-moz-user-select: none;" class="hpd-tile hpd-tile-box card ng-scope">
          <div class="hpd-tile-display">
            <div class="hpd-tile-holder">
              <div class="hpd-tile-title ng-binding"><span class="hpd-tile-number ng-binding">3 </span> Talita Vieira</div>
            </div>
            <div class="hpd-tile-content">
              <div class="ng-scope"><div signings-deep-dive-preview="">
                <div class="card-subtle greychart ng-binding">Iteration Manager</div>
                <span class="row>">
                  <span class="col-sm-9 paddingRemover15">Foto</span>
                  <span class="col-sm-3">Bla bla bla</span>
                </span>
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dw-loading"><div class="dw-loading-body"><div class="dw-loading-spinner"></div></div></div></div><!-- end ngIf: !expanded() -->

  </div>
